<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <%= link_to new_period_path, class: 'btn btn-lg btn-primary' do %>
        <i class="fa fa-plus-circle"></i>
        Nuevo período
      <% end %>
    </div>
  </div>
</div>
