<div class="lead box-header with-border">
  Puede adjuntar todo tipo de archivos
</div>

<div class="form-group">
  <%= f.label :uploads, 'Busque y seleccione archivos' %>
  <%= f.file_field :uploads, type: :file, multiple: true %>
</div>

<ul>
  <% f.object.uploads.each do |upload| %>
    <li>
      <%= link_to upload.file_file_name, upload.file.url %>
    </li>
  <% end %>
</ul>
