<div class="pull-right">
  <%= link_to legislative_files_path, class: 'btn btn-default' do %>
    <i class="fa fa-times-circle"></i>
    Cancelar
  <% end -%>
  <%= button_tag type: 'submit', class: 'btn btn-success btn-lg' do  %>
    <i class="fa fa-save fa-lg"></i>
    Guardar
  <% end -%>
</div>
