<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a aria-expanded="true" data-toggle="tab" href="#summary"> Información </a>
  </li>
  <li>
    <a aria-expanded="true" data-toggle="tab" href="#info"> Datos básicos </a>
  </li>
  <li>
    <a aria-expanded="true" data-toggle="tab" href="#states"> Estados </a>
  </li>
  <li>
    <a aria-expanded="true" data-toggle="tab" href="#loops"> Circuitos </a>
  </li>
  <li>
    <a aria-expanded="true" data-toggle="tab" href="#attached"> Archivos adjuntos </a>
  </li>
</ul>
