<div id="index-legislative-files">
  <h2 class="text-center"> EXPEDIENTES LEGISLATIVOS </h2>

  <div class="box box-primary" id="procedures">
    <div class="box-header">
      <%= render 'header' if current_user.belongs_to_area? :legislative_secretary %>
    </div>
    <div class="box-body">
      <table class="table table-striped dataTable table-hover" id="legislative-files-table" data-source="<%= legislative_files_path(format: :json) %>">
        <thead>
          <tr>
            <th style="white-space:nowrap;">Exp. Nro.</th>
            <th>Sumario</th>
            <th>Fecha</th>
            <th>Trámites</th>
            <th>Circuitos</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  if ($('#index-legislative-files').length) {
    var table = $('#legislative-files-table').DataTable({
      language: {
        processing: "<div></div><div></div><div></div><div></div><div></div>",
        emptyTable: "No se encontraron expedientes relacionados a su búsqueda."
      },
      "columnDefs": [{ className: "dt-head-center", targets: [0, 1, 2, 3, 4] }],
      dom: "<'row'<'col-sm-4'l><'legislative-files-toolbar col-sm-4'><'col-sm-4'f>>" +
        "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
      processing: true,
      serverSide: true,
      ajax: {
        url: $('#legislative-files-table').data('url'),
        method: 'GET',
        dataType: 'json',
        data: function(params) {
          return params
        }
      },
      fnPreDrawCallback: function() {
        $('table.dataTable').fadeTo('fast', '0.2');
      },
      fnDrawCallback: function() {
        let column_to_hide = 0; // Derivations column
        let column = table.column(column_to_hide);
        column.visible($('div.data-derivations').data('show'));
        $('table.dataTable').fadeTo('fast', 1);
        $('.tooltip-text').tooltip();
      },
      fnInitComplete: function() {
        Procedures.listenCheckButtons();
      }
    })
  }
});
</script>
