<div id="expedientes">
  <div id="caratula">
    <br> <br> <br> <br>

    <div id="column-one">
      <p id="column-one-p-one">
        <br><br><br>
        <span id="title"> MOVIMIENTOS </span>
        <br> <br> <br>
        <span class="titles" id="ingreso">INGRESO:</span>
        <span id="ingreso-text">
          <br> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        </span>
        <br> <br> <br> <br>
        <span class="titles" id="estado">ESTADO PARLAMENTARIO:</span>
        <br> <br> <br> <br>
        <span class="titles" id="dictamen">DICTAMEN</span>
        <br> <br> <br> <br>
        <span class="titles" id="aprobacion">APROBACION PRIMERA LECTURA:</span>
        <br> <br> <br> <br>
        <span class="titles" id="aprobacion-two">APROBACION DEFINITIVA</span>
        <br> <br> <br> <br>
        <span class="titles" id="archivo">ARCHIVO:</span>
        <br> <br> <br> <br>
        <span class="titles" id="rechazo">RECHAZO:</span>
      </p>
    </div>
    <div id="column-two">
      <div id="logo">
        <img src="<%= image_url 'dem_logo.jpg' %>" id="carat-image">
      </div>
      <p id="column-two-p-one">
        CONCEJO DELIBERANTE <br> RIO CUARTO
      </p>
        <br> <br>
      <p id="column-two-p-two"></p>
        <br>
        <span class="titles-two" id="exp-num">EXPEDIENTE Nº:</span>
        <span id="numero-text"></span>
        <br>
        <br>
        <span class="titles-two" id="iniciador">INICIADOR:</span>
        <span id="iniciador-text"> &nbsp </span>
        <br> <br> <br> <br> <br>
        <span class="titles-two" id="asunto">ASUNTO:</span>
        <span id="asunto-text"> &nbsp </span>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <span class="titles-two" id="comision">COMISIÓN</span>
        <span id="comision-text">&nbsp</span>
        <br> <br> <br> <br>
        <span class="titles-two" id="dispositivo">DISPOSITIVO LEGAL SANCIONADO:</span>
        <span id="dispositivo-text">&nbsp</span>
        <br> <br> <br>
    </div>
  </div>
</div>

<div id="index-legislative-files">
  <h2 class="text-center"> EXPEDIENTES LEGISLATIVOS </h2>

  <div class="box box-primary" id="procedures">
    <div class="box-header">
      <%= render 'header' %>
    </div>
    <div class="box-body">
      <table class="table table-striped dataTable table-hover" id="legislative-files-table" data-source="<%= legislative_files_path(format: :json) %>">
        <thead>
          <tr>
            <th>Expediente nro</th>
            <th>Sumario</th>
            <th class="center">Fecha</th>
            <th>Trámite</th>
            <th>Circuitos</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  if ($('#index-legislative-files').length) {
    var table = $('#legislative-files-table').DataTable({
      language: {
        processing: "<div></div><div></div><div></div><div></div><div></div>",
        emptyTable: "No se encontraron expedientes relacionados a su búsqueda."
      },
      dom: "<'row'<'col-sm-4'l><'legislative-files-toolbar col-sm-4'><'col-sm-4'f>>" +
        "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
      processing: true,
      serverSide: true,
      ajax: {
        url: $('#legislative-files-table').data('url'),
        method: 'GET',
        dataType: 'json',
        data: function(params) {
          // params.show_derivations = $('div.data-derivations').data('show');
          // // Between two dates filter.
          // if (!$('#legislative-files #reportrange').data('disabled')) {
          //   params.date_from = $('#reportrange').data('daterangepicker').startDate.format();
          //   params.date_to = $('#reportrange').data('daterangepicker').endDate.format();
          // }
          // // Filter by derivated procedures.
          // if (!$('#legislative-files #derivation_types').data('disabled'))
          //   params.derivation_filter = $('#legislative-files #derivation_types').val();
          return params
        }
      },
      fnPreDrawCallback: function() {
        $('table.dataTable').fadeTo('fast', '0.2');
      },
      fnDrawCallback: function() {
        let column_to_hide = 0; // Derivations column
        let column = table.column(column_to_hide);
        column.visible($('div.data-derivations').data('show'));
        $('table.dataTable').fadeTo('fast', 1);
        $('.tooltip-text').tooltip();
      },
      fnInitComplete: function() {
        Procedures.listenCheckButtons();
      }
    })
  }
});
</script>
