.input-group
  = react_component 'AdministrativeFileForm', { type: 'process', id: @process_id, form: '#new-administrative-file', table: '#administrative-files table tbody' }

%hr
= react_component 'AllAdministrativeFiles', { type: 'process', id: @process_id }
