<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for @person, remote: true do |f| %>
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title text-center">CREAR PERSONA</h3>
        </div>
        <div class="modal-body">
          <%= render 'person_form', f: f %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times-circle"></i> Cancelar
          </button>
          <button type="submit" class="btn btn-success btn-lg">
            <i class="fa fa-save fa-lg"></i> Guardar
          </button>
        </div>
      <% end -%>
    </div>
  </div>
</div>
