<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <%= link_to new_block_path, class: 'btn btn-lg btn-primary' do %>
        <i class="fa fa-plus-circle"></i>
        Nuevo Bloque
      <% end %>
    </div>
    <div class="pull-right">
      <%= label_tag nil, "Periodo Legislativo:" %>
      <%= select_tag 'periods', options_for_select(["2012 - 2016", "2016 - 2017"]), class: 'form-control' %>
    </div>
  </div>
</div>
