<div class="row">
  <div class="col-xs-12">
    <%= link_to new_councilor_path, class: 'btn btn-lg btn-primary' do %>
      <i class="fa fa-plus-circle"></i>
      Nuevo Concejal
    <% end %>
  </div>
</div>
