#councilors
  %h2.text-center
    CONCEJALES

  .box.box-primary
    .box-header
      = render 'header_buttons'

    .box-body
      .col-md-12
        %table.table.table-striped#councilors-table.table-hover{ style: 'table-layout: fixed; word-wrap: break-word;', 'data-source': councilors_path(format: :json) }
          %thead
            %tr
              %th Concejal
              %th Bloque
              %th Teléfono
              %th Email
              %th Vigencia
          %tbody

:javascript
  Councilors.IndexDataTable.init();
