$(document).on 'ready page:load', ->
  $('#declaracion-table').dataTable
    ajaxSource: $('#declaracion-table').data('source')
    fnInitComplete: ->
      $('div.dataTables_filter input').focus()
      $('div.dataTables_filter input').attr('placeholder', "<%= I18n.t('.datatable.search') %>")
    fnInfoCallback: (oSettings, iStart, iEnd, iMax, iTotal, sPre ) ->
      $('tr').find('td:eq(1)').each ->
        $(this).text $(this).text().substring(0, 125) + '...'
      return
    aoColumns: [
      { sortable: false, "width": "12%" , sClass: "center"}
      { sortable: false }
      { sortable: false }
      { sortable: false, "width": "14%" }
      { sortable: false, "width": "1%" }
    ]

  $(document).on 'click', '#add_disp', ->
    flagTokenInput = false
    $.each $('#norma').tokenInput('get'), (index, element) ->
      flagTokenInput = true
      ref_type = $('#refer_type  option:selected').text()
      dates = ""
      row = "<tr> <td> #{ref_type} </td> " +
      "<td> #{this.indice} </td>" +
      "<td> #{dates} </td>" +
      "<td> <i class='fa fa-times remove-tr btn btn-xs'></i> </td> </tr>"
      $('#disp_norma_table tbody').append(row)
    if flagTokenInput
      $('#norma').tokenInput 'clear'
      $('#from_refer').val ''
      $('#to_refer').val ''
      $('#day_refer').val ''
      $('#month_refer').val ''
      $('#year_refer').val ''
    else
      alert 'Debe vincular alguna norma.'

  $(document).on 'click', '#classify', ->
    $('#second-column').fadeOut(100)
    setTimeout (->
      $('.clasification').fadeIn(100)
      return
    ), 250

  $(document).on 'click', '#ready', ->
    $('.clasification').fadeOut(100)
    setTimeout (->
      $('#second-column').fadeIn(100)
      return
    ), 250

  $(document).on 'click', '.remove-tr', ->
    $(this).parents().eq(1).remove()

  $('#btn-new').on 'click', ->
    $.get '/declaracions/new', (data) ->
      $('#declaracion-edit').empty()
      $('#declaracion-edit').append data
      $('#declaracion-edit .modal').modal 'show'
      return

  $(document).on 'click', '.linktoedit', ->
    id = $(this).data 'id'
    $.get "/declaracions/#{id}/edit", (data) ->
      $('#declaracion-edit').empty()
      $('#declaracion-edit').append data
      $('#declaracion-edit .modal').modal 'show'

      ## Preload token inputs
      tokenData = $('#exped_token').data 'load'
      $.each tokenData, (index, exp) ->
        $('#exped_token').tokenInput 'add', exp
        return

      tokenTag = $('#tags-tokeninput').data 'load'
      $.each tokenTag, (index, tag) ->
        console.log tag
        $('#tags-tokeninput').tokenInput 'add', tag
        return

  $(document).on 'focus', 'textarea', ->
    $(this).elastic();
    return
  
  $(document).on 'focusout', 'textarea', ->
    $(this).animate({ height: "#{40}" }, 200);
    return
