$(document).on 'ready page:load', ->
  $('#declaracion-table').dataTable
    ajaxSource: $('#declaracion-table').data('source')
    fnInitComplete: ->
      $('#declaracion div.dataTables_filter input').focus()
      $('#btn-new').prependTo('#declaracion-table_wrapper .col-sm-6:first')
      return
    fnDrawCallback: ->
      $('#declaracion-table tbody tr').find('td:eq(1)').each ->
        $(this).text $(this).text().substring(0, 125) + '...'
        return
      $('#declaracion-table tbody tr:eq(0)').addClass 'info'
      return
    aoColumns: [
      { sortable: false, "width": "12%" , sClass: "center"}
      { sortable: false }
      { sortable: false }
      { sortable: false, "width": "14%" }
      { sortable: false, "width": "1%" }
    ]

  $(document).on 'click', '#declaracion #add_disp', ->
    flagTokenInput = false
    $.each $('#declaracion #norma').tokenInput('get'), (index, element) ->
      flagTokenInput = true
      ref_type = $('#declaracion #refer_type  option:selected').text()
      dates = ""
      tipo_rel = $('#declaracion #refer_type  option:selected').val()
      date_desde = $("#declaracion #from_refer").val()
      date_hasta = $("#declaracion #to_refer").val()
      if date_desde != ""
        dates = dates + "Desde " + date_desde + "\n"
      if date_hasta != ""
          dates = dates + "Hasta " + date_hasta + "\n"
      date_hasta_dia = $("#declaracion #day_refer").val()
      date_hasta_mes = $("#declaracion #month_refer").val()
      date_hasta_anio = $("#declaracion #year_refer").val()
      date_tipo_dia = $("#declaracion [name=tipo_dia]:checked").val()
      row = "<tr class='linked-normas-table' data-id='#{this.id}'" +
      " data-desde='#{date_desde}' data-hasta='#{date_hasta}' data-hasta-dia='#{date_hasta_dia}'" +
      " data-hasta-mes='#{date_hasta_mes}' data-hasta-anio='#{date_hasta_anio}' " +
      "data-tipo-relacion='#{tipo_rel}' " +
      "data-dia-tipo='#{date_tipo_dia}'> " +
      "<td> #{ref_type} </td> " +
      "<td> #{this.indice} </td>" +
      "<td> #{dates} </td>" +
      "<td> <i class='fa fa-times remove-table-row btn btn-xs'></i> </td> </tr>"
      $('#declaracion #disp_norma_table tbody').append(row)
    if flagTokenInput
      $('#declaracion #norma').tokenInput 'clear'
      $('#declaracion #from_refer').val ''
      $('#declaracion #to_refer').val ''
      $('#declaracion #day_refer').val ''
      $('#declaracion #month_refer').val ''
      $('#declaracion #year_refer').val ''
    else
      alert "<%= I18n.t('declaracions.modal_declaration.alert.norma_has_linked') %>"

  $(document).on 'click', '#declaracion #add_destiny', ->
    if $("#declaracion #destiny").val() == "" || $("#declaracion #destiny_date").val() == ""
      alert("Destino o Fecha no pueden estar vacios")
      return
    destiny = $("#declaracion #select_destiny option:selected")
    row = "<tr data-value='#{destiny.val()}' data-destiny='#{$('#destiny').val()}'" +
          " data-date='#{$('#destiny_date').val()}' class='destiny-row'>" +
          "<td> #{destiny.text()} </td>" +
          "<td> #{$('#destiny').val()} </td>" +
          "<td> #{$('#destiny_date').val()} " +
          "<td> <i class='fa fa-times remove-table-row btn btn-xs'></i> </td> </tr>"
    $('#declaracion #destinies_table tbody').append(row)
    $("#declaracion #destiny").val('')
    $("#declaracion #destiny_date").val('')

  $(document).on 'click', '#declaracion #classify', ->
    $('#declaracion #nuevoLabel').text("<%=I18n.t('declaracions.modal_declaration.title.clasification')%>")
    $('#declaracion #classify').css('display','none')
    $('#declaracion #dates').css('display','inline-block')
    $('#declaracion #second-column').fadeOut(100)
    setTimeout (->
      $('#declaracion .clasification').fadeIn(100)
      return
    ), 250
    $('#declaracion .dates').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $(document).on 'click', '#declaracion #ready', ->
    $('#declaracion #nuevoLabel').text("<%=I18n.t('declaracions.modal_declaration.title.create_declaration')%>")
    $('#declaracion #classify').css('display','inline-block')
    $('#declaracion #dates').css('display','inline-block')
    $('#declaracion .clasification').fadeOut(100)
    setTimeout (->
      $('#declaracion #second-column').fadeIn(100)
      return
    ), 250
    $('#declaracion .dates').fadeOut(100)
    setTimeout (->
      $('#declaracion #second-column').fadeIn(100)
      return
    ), 250

  $(document).on 'click', '#declaracion #dates', ->
    $('#declaracion #nuevoLabel').text("<%=I18n.t('declaracions.modal_declaration.btn_clasification.dates')%>")
    $('#declaracion #dates').css('display','none')
    $('#declaracion #classify').css('display','inline-block')
    $('#declaracion #second-column').fadeOut(100)
    setTimeout (->
      $('#declaracion .dates').fadeIn(100)
      return
    ), 250
    $('#declaracion .clasification').fadeOut(100)
    setTimeout (->
      return
    ), 250

  $('#declaracion #btn-new').on 'click', ->
    $(document).off 'keydown'
    $.get '/declaracions/new', (data) ->
      $('#declaracion-edit').empty()
      $('#declaracion-edit').append data
      $('#declaracion-edit .modal').modal 'show'
      return

  $(document).on 'click', '#declaracion .linktoedit', ->
    $(document).off 'keydown'
    id = $(this).data 'id'
    $('#declaracion-edit').empty()
    $.get "/declaracions/#{id}/edit", (data) ->
      $('#declaracion-edit').append data
      $('#declaracion-edit .modal').modal 'show'

      ## Preload token inputs
      tokenData = $('#declaracion #exped_token').data 'load'
      $.each tokenData, (index, exp) ->
        $('#declaracion #exped_token').tokenInput 'add', exp
        return

      tokenTag = $('#declaracion #tags-tokeninput').data 'load'
      $.each tokenTag, (index, tag) ->
        $('#declaracion #tags-tokeninput').tokenInput 'add', tag
        return

      return

  ## hotkey create declaration
  $.ctrl 'C', ->
    $('#declaracion #btn-new').click()
    return

  ## hotkey edit declaration
  $.ctrl 'E', ->
    $('#declaracion table tbody').find('.info').find('.linktoedit').click()
    return
