$(document).on 'ready page:load', ->
  $('#expedientes-table').dataTable
    ajaxSource: $('#expedientes-table').data('source')
    fnInitComplete: ->
      $('#expedientes div.dataTables_filter input').focus()
      $('#expedientes div.dataTables_filter input').attr('placeholder', "<%= I18n.t('datatable.search') %>")
      return
    fnDrawCallback: ->
      $('#expedientes-table tbody tr').find('td:eq(1)').each ->
        $(this).text $(this).text().substring(0, 125) + '...'
        return
      $('#expedientes-table tbody tr:eq(0)').addClass 'info'
      return
    aoColumns: [
      { sortable: false, "width": "12%" , sClass: "center"}
      { sortable: false }
      { sortable: false }
      { sortable: false, "width": "14%" }
      { sortable: false, "width": "1%" }
    ]

  $(document).on 'click', '#modal-expediente #add_state', ->
    fecha = $("#modal-expediente #fecha").val()
    estado = $("#modal-expediente #estados option:selected").val()
    estado_text = $("#modal-expediente #estados option:selected").text()
    esp1_text = $("#modal-expediente #esp1 option:selected").text()
    esp2_text = $("#modal-expediente #esp2 option:selected").text()
    row = "<tr class='states-tr' data-id=''" +
    " data-fecha='#{fecha || ''}' data-estado='#{estado || ''}' data-esp1='#{esp1_text || ''}'" +
    " data-esp2='#{esp2_text || ''}'> " +
    "<td> #{estado_text} </td> " +
    "<td> #{esp1_text + " --> " + esp2_text} </td>" +
    "<td> #{fecha} </td>" +
    "<td> <i class='fa fa-times remove-table-row btn btn-xs'></i> </td> </tr>"
    $('#modal-expediente #states-table-column tbody').append(row)
    $('#modal-expediente #fecha').val("")
    $('#modal-expediente #estados').val("0")
    $('#modal-expediente #esp1').empty()
    $('#modal-expediente #esp2').empty()

  $(document).on 'click', '#modal-circuito #add_state', ->
    fecha = $("#modal-circuito #fecha").val()
    estado = $("#modal-circuito #estados option:selected").val()
    estado_text = $("#modal-circuito #estados option:selected").text()
    esp1 = $("#modal-circuito #esp1 option:selected").val()
    esp1_text = $("#modal-circuito #esp1 option:selected").text()
    esp2 = $("#modal-circuito #esp2 option:selected").val()
    esp2_text = $("#modal-circuito #esp2 option:selected").text()
    row = "<tr class='states-tr'" +
    " data-fecha='#{fecha}' data-estado='#{estado}' data-esp1='#{esp1_text}'" +
    " data-esp2='#{esp2_text}'> " +
    "<td> #{estado_text} </td> " +
    "<td> #{esp1_text + " --> " + esp2_text} </td>" +
    "<td> #{fecha} </td>" +
    "<td> <i class='fa fa-times remove-table-row btn btn-xs'></i> </td> </tr>"
    $('#modal-circuito #states-table-column tbody').append(row)
    $('#modal-circuito #fecha').val("")
    $('#modal-circuito #estados').val("0")
    $('#modal-circuito #esp1').empty()
    $('#modal-circuito #esp2').empty()

  $('#expedientes #btn-new').on 'click', ->
    $(document).off 'keydown'
    $.get '/expedientes/new', (data) ->
      $('#expedientes-edit').empty()
      $('#expedientes-edit').append data
      $('#expedientes-edit .modal').modal 'show'
      return

  $(document).on 'click', '#expedientes .linktoedit', ->
    $(document).off 'keydown'
    id = $(this).data 'id'
    $('#expedientes-edit').empty()
    $.get "/expedientes/#{id}/edit", (data) ->
      $('#expedientes-edit').append data
      $('#expedientes-edit .modal').modal 'show'

      return

  $(document).on 'click', '#expedientes .linktocircuit', ->
    $(document).off 'keydown'
    id = $(this).data 'id'
    $('#expedientes-edit').empty()
    $.get "/expedientes/#{id}/edit_circuit", (data) ->
      $('#expedientes-edit').append data
      $('#expedientes-edit .modal').modal 'show'

      return

  ## hotkey create expedientes
  $.ctrl 'C', ->
    $('#expedientes #btn-new').click()
    return

  ## hotkey edit expedientes
  $.ctrl 'E', ->
    $('#expedientes table tbody').find('.info').find('.linktoedit').click()
    return
