"<% url_helpers = Rails.application.routes.url_helpers %>"

// Manage session table
class Law {
  constructor() {
    this.table = '#laws-index table#law-table';
    this.startDataTable();
  }

  startDataTable() {
    $(this.table).dataTable({
      processing: true,
      serverSide: true,
      lengthChange: true,
      language: {
        processing: "<div></div><div></div><div></div><div></div><div></div>",
        emptyTable: "No se encontraron normas relacionadas a su búsqueda."
      },
      ajax: {
        url: $(this.table).data('source'),
        method: 'GET'
      },
      fnPreDrawCallback: function() {
        $('table.dataTable').fadeTo('fast', '0.2');
      },
      fnDrawCallback: function() {
        $('table.dataTable').fadeTo('fast', 1);
      },
      columnDefs: [{
        'targets': [2, 3, 5],
        'createdCell':  function (td, cellData, rowData, row, col) {
           $(td).attr('onclick', 'preventRedirection();');
        }
      }]
    });
  }
}

class LawSession {
  constructor() {
    this.select = $('#law_legislative_session_id');
    this.startSelect();
  }

  startSelect() {
    this.select.select2(this.options());
  }

  options() {
    return {
      allowClear: true,
      theme: 'bootstrap',
      language: 'es',
      placeholder: 'Busque Sesión',
      ajax: {
        url: "<%= url_helpers.legislative_sessions_path(format: :json) %>",
        dataType: 'json',
        data: (params) => { return { select_q: params.term || '%%' } },
        processResults: (data, params) => { return { results: data } }
      }
    };
  }
}

class LawLegislativeFiles {
  constructor() {
    this.select = $('#law_legislative_files');
    this.startSelect();
  }

  startSelect() {
    this.select.select2(this.options());
  }

  options() {
    return {
      theme: 'bootstrap',
      language: 'es',
      multiple: true,
      placeholder: 'Busque Expedientes Legislativos',
      ajax: {
        url: "<%= url_helpers.legislative_files_path(format: :json) %>",
        dataType: 'json',
        data: (params) => { return { select_q: params.term || '%%' } },
        processResults: (data, params) => { return { results: data } }
      }
    }
  }
}

// Script started
$(document).ready(() => {
  if ($('#laws-index').length) {
    const law = new Law();
  }

  if ($('.law-new').length) {
    const lawSession = new LawSession();
    const lawLegislativeFiles = new LawLegislativeFiles();
  }

  if ($('.law-edit').length) {
    const lawSession = new LawSession();
    const lawLegislativeFiles = new LawLegislativeFiles();
  }
});
