// Manage session table
class Law {
  constructor() {
    this.table = '#laws-index table#law-table';
    this.startDataTable();
  }

  startDataTable() {
    $(this.table).dataTable({
      processing: true,
      serverSide: true,
      lengthChange: true,
      language: {
        processing: "<div></div><div></div><div></div><div></div><div></div>",
        emptyTable: "No se encontraron normas relacionadas a su búsqueda."
      },
      ajax: {
        url: $(this.table).data('source'),
        method: 'GET'
      },
      fnPreDrawCallback: function() {
        $('table.dataTable').fadeTo('fast', '0.2');
      },
      fnDrawCallback: function() {
        $('table.dataTable').fadeTo('fast', 1);
      },
      columnDefs: [{
        'targets': [2, 3, 5],
        'createdCell':  function (td, cellData, rowData, row, col) {
           $(td).attr('onclick', 'preventRedirection();');
        }
      }]
    });
  }
}

// Script started
$(document).ready(() => {
  if ($('#laws-index').length) {
    const law = new Law();
  }
});
