$(document).on 'ready page:load', ->
  $('#norma-table').dataTable
    ajaxSource: $('#norma-table').data('source')
    fnInitComplete: ->
      $('#norma div.dataTables_filter input').focus()
      $('#norma div.dataTables_filter input').attr('placeholder', "<%= I18n.t('.datatable.search') %>")
      return
    fnDrawCallback: ->
      $('#norma-table tbody tr').find('td:eq(1)').each ->
        $(this).text $(this).text().substring(0, 125) + '...'
        return
      $('#norma-table tbody tr:eq(0)').addClass 'info'
      return
    aoColumns: [
      { sortable: false, "width": "12%" , sClass: "center"}
      { sortable: false }
      { sortable: false }
      { sortable: false, "width": "14%" }
    ]

  $('#norma #btn-print').on 'click', ->
    $('#norma-table a').each (index, elem) ->
      $(elem).removeAttr 'href'
      return
    $('#norma-table').print
      globalStyles: true
      mediaPrint: false
      stylesheet: null
      noPrintSelector: '.no-print'
      iframe: true
      append: null
      prepend: "<p><h1>Reporte - Normas</h1></p><br>"
      manuallyCopyFormValues: true
      deferred: $.Deferred()
      timeout: 250
    $('#norma-table').DataTable().draw()
  ## hotkey print normas
  $.ctrl 'P', ->
    $('#norma #btn-print').click()
    return     