// Manage session table
class Session {
  constructor() {
    this.table = '#sessions table#session-table';
    this.startDataTable();
  }

  startDataTable() {
    $(this.table).dataTable({
      processing: true,
      serverSide: true,
      lengthChange: true,
      ajax: {
        url: $(this.table).data('source'),
        method: 'GET'
      },
      columnDefs: [{
        'targets': [4],
        'createdCell':  function (td, cellData, rowData, row, col) {
           $(td).attr('onclick', 'preventRedirection();');
        }
      }],
      language: {
        processing: "<div></div><div></div><div></div><div></div><div></div>",
        emptyTable: "No se encontraron sesiones relacionadas a su búsqueda."
      },
      fnPreDrawCallback: function() {
        $('table.dataTable').fadeTo('fast', '0.2');
      },
      fnDrawCallback: function() {
        $('table.dataTable').fadeTo('fast', 1);
      }
    });
  }
}

// Script started
$(document).ready(() => {
  if ($('#sessions').length) {
    const session = new Session();
  }

  if ($('.session-new').length) {
    $('#session_started_at, #session_finished_at').datetimepicker({
      locale: 'es',
      format:'DD/MM/YYYY HH:mm'
    });
  }
});
