$(document).on 'ready page:load', ->
  $('#tramite-table').dataTable
    ajaxSource: $('#tramite-table').data('source')
    fnInitComplete: ->
      $('#tramite div.dataTables_filter input').focus()
      $('#tramite div.dataTables_filter input').attr('placeholder', "<%= I18n.t('.datatable.search') %>")
      return
    fnDrawCallback: ->
      $('#tramite-table tbody tr:eq(0)').addClass 'info'
      return
    aoColumns: [
      { sortable: false, "width": "7%" , sClass: "center"}
      { sortable: false, "width": "10%" }
      { sortable: false, "width": "7%" }
      { sortable: false }
      { sortable: false }
      { sortable: false, "width": "13%" }
      { sortable: false, "width": "13%" }
    ]

  $('#tramite #btn-print').on 'click', ->
    $('#tramite-table a').each (index, elem) ->
      $(elem).removeAttr 'href'
      return
    $('#tramite-table').print
      globalStyles: true
      mediaPrint: false
      stylesheet: null
      noPrintSelector: '.no-print'
      iframe: true
      append: null
      prepend: "<p><h1>Reporte - Mesa de entradas</h1></p><br>"
      manuallyCopyFormValues: true
      deferred: $.Deferred()
      timeout: 250
    $('#tramite-table').DataTable().draw()
  ## hotkey print tramites
  $.ctrl 'P', ->
    $('#tramite #btn-print').click()
    return      

