<div class="session-new">
  <h2 class="text-center"> Creando nueva sesi贸n </h2>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"> Informaci贸n de la sesi贸n </h3>
    </div>

    <%= form_for @session do |form| %>

      <div class="box-body row">
        <%= render 'session_form', f: form %>
      </div>

      <div class="box-footer">
        <div class="pull-right">
          <%= link_to legislative_sessions_path, class: 'btn btn-default' do %>
            <i class="fa fa-times-circle"></i>
            Cancelar
          <% end -%>
          <%= button_tag type: :submit, class: 'btn btn-lg btn-success' do %>
            <i class="fa fa-save fa-lg"></i>
            Crear sesi贸n
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
</div>
