<%= f.fields_for :uploads do |upload| %>
  <div class="form-group uploads">
    <%= f.label :upload, 'Busque y seleccione archivos' %>
    <%= f.file_field :upload, type: :file, multiple: true %>
  </div>
<% end %>
