<div class="initiators-modal"></div>
<div id="procedure-new">
  <h2> <%= t '.new_procedure' %> </h2>
  <%= form_for @procedure, { multipart: true } do |form| %>
    <div class="box box-primary">
      <div class="box-body">
        <%= render 'form', f: form %>
      </div>
    </div>
  <% end %>
</div>
