<div id="laws-index">
  <h2 class="text-center"> NORMAS </h2>

  <div class="box box-primary">
    <div class="box-header">
      <div class="row">
        <div class="col-md-4">
          <%= link_to new_law_path, class: 'btn btn-primary btn-lg' do %>
            <i class="fa fa-plus-circle fa-lg"></i>
            Nueva Norma
          <% end -%>
        </div>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-striped" id="law-table" data-source="<%= laws_path(format: :json) %>">
        <thead>
          <tr>
            <th> Número / Bis </th>
            <th> Tipo de norma </th>
            <th> Fecha </th>
            <th> Sumario </th>
            <th> Expedientes </th>
            <th> </th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
