<div class="law-new">
  <h2 class="text-center"> Creando nueva Norma </h2>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"> Información de la Norma </h3>
    </div>

    <%= form_for @law do |form| %>

      <div class="box-body">
        <%= render 'law_form', f: form %>
      </div>

      <div class="box-footer">
        <div class="pull-right">
          <%= link_to laws_path, class: 'btn btn-default' do %>
            <i class="fa fa-times-circle"></i>
            Cancelar
          <% end -%>
          <%= button_tag type: :submit, class: 'btn btn-lg btn-success' do %>
            <i class="fa fa-save fa-lg"></i>
            Crear Norma
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
</div>
