$shadow_color: #000000;

.single-tab {
  padding-left: 15px;
}

.double-tab {
  padding-left: 30px;
}

.float-right {
  float: right;
}

.without-padding {
  padding: 0px !important;
}

.subtitle {
  font-size: 12px;
  font-style: italic;
}

.titles {
  color: #676773;
  font-weight: bold;
}

.nav-tabs > li > a {
  color: gray;
}

.admin-file-button {
  margin-top: 10px;
}

.dataTables_filter  {
  @extend .pull-right;
  label::before {
    content: "\f002";
    color: #3c4444 !important;
    font-size: 16px;
    font-family: FontAwesome;
    color: #585858;
    margin-right: 5px;
    margin-left: 1px;
  }
}

.dataTables_paginate {
  @extend .pull-right;
  .pagination {
    margin: 0px;
  }
}

.report-range {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%
}

.box .nav-stacked > li {
  border-bottom: 2px solid #f4f4f4;
}

.box-footer {
  border-top: 2px solid #f4f4f4;
}

.box-header.without-pad {
  border-bottom: 2px solid #f4f4f4;
  padding-top: 0px;
}

.pointer:hover {
  cursor: pointer;
}

textarea {
  max-width: 100%;
}

// Hide repeated elements
// .select2-results__option[aria-selected=true] {
//   display: none;
// }

.alert.alert-dismissable {
  border-color: black;
  margin-top: 4px;
}

.modal-header { padding: 5px !important; }

.modal-header-warning {
  background-color: #f0ad4e;
  color: white;
}

.footer-content {
  padding: 0;
}

.margin-out {
  margin: 0;
}

// Fix autoheigth on select2
// .select2-container--bootstrap
// .select2-selection--multiple
// .select2-selection__rendered {
//   display: inline-table;
// }

.asterisc {
  color: red;
  float: right;
}

.text-bottom-align {
  padding-top: 17px;
}

.text-bold {
  font-weight: bold;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* REMOVE THIS AND FILTER ON select_q PARAM IN SELECT2 REQUESTS */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.select2-results__option[aria-selected=true] { display: none; }
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


// Session CSS
.profile-img {
  width: 356px;
  height: 356px;
  margin: 0 auto 10px;
  display: block;
}

#session {
  height: 100% !important;
}

.layout-session-container {
  height: 100% !important;
  width: 100% !important;
  display: table !important;
}

.layout-session-row {
  display: table-cell !important;
  height: 100% !important;
  vertical-align: middle !important;
}

.table-hover > tbody > tr:hover {
  background-color: #D2D2D2;
}

.dataTable.table-hover {
  .dt-head-center { text-align: center }
  tbody td { cursor: pointer }
}

.float-left {
  float: left;
  margin: 1px;
}

.dataTables_processing.panel.panel-default {
  border: 0;
}

.minimal-hr {
  margin: 0;
}

.display-inline .btn { margin: 1px; }

// Datatables highlight style
mark {
    background: orange;
    color: black;
}

.align-bottom {

}