$shadow_color: #000000;

.single-tab {
  padding-left: 15px;
}

.double-tab {
  padding-left: 30px;
}

.float-right {
  float: right;
}

.without-padding {
  padding: 0px !important;
}

.subtitle {
  font-size: 12px;
  font-style: italic;
}

.titles {
  color: #676773;
  font-weight: bold;
}

.main-title {
  margin-top: 5px;
}
