.content-wrapper {
  background-color: white;
}

.center {
  text-align: center;
}

#comunicacion-oficial {

  #comunicacion-oficial-table_wrapper {
    th {
      @extend .center;
    }
  }

  .modal-header {
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #00A65A;

    h4#nuevoLabel {
      font-weight: bold;
    }
  }

  .input-group {
    width: 100%;
  }

  .parent-group-btn:hover {
    color: #00A65A;
  }

  .group-buttons {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
  }

  .group-buttons2 {
    border-top: 1px solid #EEEEEE;
    padding-top: 5px;
  }

  #modalcom .col-md-6, #modalcom .col-md-6 #second-column {
    & > .input-group{
      padding-bottom: 5px;
    }

    #edit_iniciador{
      display: none;
      font-size: 20px;
    }

    #add_iniciador{
      display: block;
      font-size: 20px;
    }

  }

  #modalcom #btn-submit-comunicacion-oficial {
    position: relative;
    right: 50%;
  }

  #modalcom .input-group {
    width: 100%;
  }
}

#comunicacion-oficial-show {
  color: gray;

  .modal-header {
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #00A65A;

    h4#nuevoLabel {
      font-weight: bold;
    }
  }

  #states-table-comunicacion-oficial-show {
    margin: 0px;
  }
}
