.content-wrapper {
  background-color: white;
}

#declaracion {

  #declaracion-table_wrapper {
    margin-top: -30px;
  }

  .modal-header {
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #00A65A;

    h4#nuevoLabel {
      font-weight: bold;
    }
    
  }


  
}
