.content-wrapper {
  background-color: white;
}

.center {
  text-align: center;
}

#despacho {

  #despacho-table_wrapper {
    margin-top: -35px;
    th {
      @extend .center;
    }
  }

  .modal-header {
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #00A65A;

    h4#nuevoLabel {
      font-weight: bold;
    }

  }

  .input-group {
    width: 100%;
  }

  .parent-group-btn:hover {
    color: #00A65A;
  }

  .group-buttons {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
  }

  .group-buttons2 {
    border-top: 1px solid #EEEEEE;
    padding-top: 5px;
  }

  #modaldesp #first-column {
    box-shadow: 0 0 25px black;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    left: 10px;
  }

  #modaldesp .col-md-4, #modaldesp .col-md-8 #second-column {
    padding-left: 20px;
    padding-right: 10px;
    & > .input-group{
      padding-bottom: 5px;
    }
  }

  #modaldesp .input-group {
    width: 100%;
  }
}

#despacho-show {
  color: gray;

  .titles {
    color: #676773;
    font-weight: bold;
  }

  .single-tab {
    padding-left: 15px;
  }

  .double-tab {
    padding-left: 30px;
  }

  .float-right {
    float: right;
  }

  .without-padding {
    padding: 0px !important;
  }

  #states-table-despacho-show {
    margin: 0px;
  }

  .main-title {
    margin-top: 5px;
  }

}
