#expedientes {

  #modal-expediente #exp-panel .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
  }

  #expedientes-table_wrapper {
    margin-top: -35px;
    th {
      @extend .center;
    }
  }

  .modal-header {
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #00A65A;

    h4#nuevoLabel {
      font-weight: bold;
    }

  }

  .input-group {
    width: 100%;
  }

  #expedientes-table th {
    text-align: center;
  }

  .parent-group-btn:hover {
    color: #00A65A;
  }

  #modal-expediente .clasification, #modal-expediente .dates {
    display: none;
  }

  #modal-expediente #classify, #modal-expediente #dates {
    margin-bottom: 5px;
  }

  .group-buttons {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
  }

  .group-buttons2 {
    border-top: 1px solid #EEEEEE;
    padding-top: 5px;
  }

  #expedientes-table {
    height: 114px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #modal-expediente .col-md-6 {
    & > .input-group { padding-bottom: 5px; }
  }

  #modal-expediente .input-group {
    width: 100%;
  }

  .nav-tabs > li > a {
    color: gray;
  }
}

#expediente-show {
  color: gray;

  #states-table-expediente-show {
    margin: 0px;
  }
}

#modal-circuito #btn-submit-circuito {
  position: relative;
  right: 45%;
}
