#legislative-file-edit {
  #states {
    .form-control.input-lg {
      margin: 10px !important;
    }
  }

  .tab-content.panel {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
