#procedures #procedures-table_wrapper > .row {
  padding-bottom: 5px;
}

.select2-selection__rendered {
  @extend .input-lg;
}

#procedure-show {
  .topic-area {
    overflow: hidden;
    resize: none;
  }

  .margin-left {
  	margin-left: 10px;
  }

  .panel-title {
  	font-weight: bold;
  	font-size: 18px;
  }

  .timeline .time-label .bg-red {
		background-color: #dd4b39;
  }

  .remove-bottom-panel {
		padding-bottom: 0px;
		padding-right: 0px;
  }

  .timeline {
  	margin-bottom: 0px;
  }
}

#procedures {
  .derivation-title {
    display: none;
  }

  .minimal-hr {
    margin: 0;
  }

  .alternative-button-header {
    display: none;
  }

  .dataTables_empty {
    @extend .text-center;
    color: black;
  }

  .dataTables_processing.panel.panel-default {
    border: 0;
  }

  #reportrange {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    display: none;
  }

  .dataTables_info {
    font-style: italic;
  }
}
