#procedures #procedures-table_wrapper > .row {
  padding-bottom: 5px;
}

.select2-selection__rendered {
  @extend .input-lg;
}

#procedure-show {
  .topic-area {
    overflow: hidden;
    resize: none;
  }
}
