#resolucion {

  #resolucion-table_wrapper {
    th {
      @extend .center;
    }
  }

  .modal-header {
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #00A65A;

    h4#nuevoLabel {
      font-weight: bold;
    }

  }

  .input-group {
    width: 100%;
  }

  #disp_norma_table th {
    text-align: center;
  }

  .parent-group-btn:hover {
    color: #00A65A;
  }

  #modalresol .clasification, #modalresol .dates {
    display: none;
  }

  #modalresol #classify, #modalresol #dates {
    margin-bottom: 5px;
  }

  .group-buttons {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
  }

  .group-buttons2 {
    border-top: 1px solid #EEEEEE;
    padding-top: 5px;
  }

  #disp_norma_table {
    height: 114px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #destinies_table {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #modalresol .col-md-4, #modalresol .col-md-8 #second-column, #modalresol .col-md-8 .clasification, #modalresol .col-md-8 .dates {
    & > .input-group{
      padding-bottom: 5px;
    }
  }

  #modalresol .input-group {
    width: 100%;
  }
}

#resolucion-show {
  color: gray;
}
