/ /.content-wrapper
%footer.main-footer
  .pull-right.hidden-xs
    %b Beta Version
    0.0.3
  %strong
    = "Copyright © #{Date.current.year}"
    = succeed '.' do
      %a{ href: '#' } Abella - Gasparrini
  All rights reserved.
