%body.skin-green.fixed.sidebar-mini
  / Site wrapper
  .wrapper
    %header.main-header
      / Logo
      %a.logo{:href => root_path}
        / mini logo for sidebar mini 50x50 pixels
        %span.logo-mini
          %b> S
          L
        / logo for regular state and mobile devices
        %span.logo-lg
          %b=t('.sld')
      / Header Navbar: style can be found in header.less
      %nav.navbar.navbar-static-top{:role => "navigation"}

        / Sidebar toggle button
        %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %span#path-name= resolve_path_name
        .navbar-custom-menu
          %ul.nav.navbar-nav
            / User Account: style can be found in dropdown.less
            %li.dropdown.user.user-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %img.user-image{ src: image_url("logo.jpg") }
                %span.hidden-xs Nombre de Usuario
            / Control Sidebar Toggle Button
            %li
              %a{"data-toggle" => "control-sidebar", :href => "/admin"}
                %i.fa.fa-gears
    / ===============================================
    / Left side column. contains the sidebar
    %aside.main-sidebar
      / sidebar: style can be found in sidebar.less
      %section.sidebar
        / search form
        %form.sidebar-form{:action => "#", :method => "get"}
          .input-group
            %input.form-control{:name => "q", :placeholder => "Search...", :type => "text"}
              %span.input-group-btn
                %button#search-btn.btn.btn-flat{:name => "search", :type => "submit"}
                  %i.fa.fa-search
        / /.search form
        / sidebar menu: : style can be found in sidebar.less
        %ul.sidebar-menu
          %li.header MAIN NAVIGATION
          %li.treeview
            %a{:href => "#"}
              %i.fa.fa-share
              %span Multilevel
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle-o
                  Level One
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle-o
                  Level One
                  %i.fa.fa-angle-left.pull-right
                %ul.treeview-menu
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-circle-o
                      Level Two
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-circle-o
                      Level Two
                      %i.fa.fa-angle-left.pull-right
                    %ul.treeview-menu
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-circle-o
                          Level Three
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-circle-o
                          Level Three
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle-o
                  Level One
          %li.treeview
            %a{:href => "#"}
              %i.fa.fa-share
              %span=t('.normas')
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{:href => declaracions_path}
                  %i.fa.fa-circle-o
                  =t('.norma.declaracion')
              %li
                %a{:href => decretos_path}
                  %i.fa.fa-circle-o
                  =t('.norma.decreto')
              %li
                %a{:href => especials_path}
                  %i.fa.fa-circle-o
                  =t('.norma.especiales')
              %li
                %a{:href => ordenanzas_path}
                  %i.fa.fa-circle-o
                  =t('.norma.ordenanzas')
              %li
                %a{:href => otra_normas_path}
                  %i.fa.fa-circle-o
                  =t('.norma.otras')
              %li
                %a{:href => resolucions_path}
                  %i.fa.fa-circle-o
                  =t('.norma.resolucion')
      / /.sidebar
    / ===============================================
    / Contains page content
    .content-wrapper
      / Main content
      %section.content
        = yield
    / /.content-wrapper
    %footer.main-footer
      .pull-right.hidden-xs
        %b Version
        0.0.1
      %strong
        Copyright &copy; 2015
        = succeed "." do
          %a{:href => "#"} Abella - Gasparrini
      All rights reserved.
  / ./wrapper
