%body.skin-green.fixed.sidebar-mini
  / Site wrapper
  .wrapper
    %header.main-header
      / Logo
      %a.logo{:href => root_path}
        / mini logo for sidebar mini 50x50 pixels
        %span.logo-mini
          %b> S
          L
        / logo for regular state and mobile devices
        %span.logo-lg
          %b=t('.sld')
      / Header Navbar: style can be found in header.less
      %nav.navbar.navbar-static-top{:role => "navigation"}

        / Sidebar toggle button
        %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %span#path-name= resolve_path_name
        .navbar-custom-menu
          %ul.nav.navbar-nav
            / User Account: style can be found in dropdown.less
            %li.dropdown.user.user-menu{ title: 'Usuario actual' }
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %img.user-image{ src: image_url("logo.jpg") }
                %span.hidden-xs Nombre de Usuario
            / Control Sidebar Toggle Button
            %li{ title: 'Opciones de administrador' }
              %a{"data-toggle" => "control-sidebar", :href => "/admin" }
                %i.fa.fa-gears
            %li{ title: 'Salir del sistema' }
              %a{"data-toggle" => "control-sidebar", href: destroy_usuario_session_path }
                %i.fa.fa-sign-out
    / ===============================================
    / Left side column. contains the sidebar
    %aside.main-sidebar
      / sidebar: style can be found in sidebar.less
      %section.sidebar
        / sidebar menu: : style can be found in sidebar.less
        %ul.sidebar-menu
          %li.header Navegación Principal
          %li.treeview
            %a{:href => "#"}
              %i.fa.fa-share
              %span Mesa de entradas
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{ :href => despachos_path }
                  %i.fa.fa-circle-o
                  Despachos
              %li
                %a{ :href => condonacions_path }
                  %i.fa.fa-circle-o
                  Condonaciones
              %li
                %a{ :href => particulars_path }
                  %i.fa.fa-circle-o
                  Peticiones Particulares
              %li
                %a{ :href => proyectos_path }
                  %i.fa.fa-circle-o
                  Proyectos
              %li
                %a{ :href => comunicaciones_oficiales_path}
                  %i.fa.fa-circle-o
                  Comunicaciones Oficiales
          %li.treeview
            %a{:href => "#"}
              %i.fa.fa-share
              %span=t('.normas')
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{:href => declaracions_path}
                  %i.fa.fa-circle-o
                  =t('.norma.declaracion')
              %li
                %a{:href => decretos_path}
                  %i.fa.fa-circle-o
                  =t('.norma.decreto')
              %li
                %a{:href => especials_path}
                  %i.fa.fa-circle-o
                  =t('.norma.especiales')
              %li
                %a{:href => ordenanzas_path}
                  %i.fa.fa-circle-o
                  =t('.norma.ordenanza')
              %li
                %a{:href => otra_normas_path}
                  %i.fa.fa-circle-o
                  =t('.norma.otras')
              %li
                %a{:href => resolucions_path}
                  %i.fa.fa-circle-o
                  =t('.norma.resolucion')
      / /.sidebar
    / ===============================================
    / Contains page content
    .content-wrapper
      / Main content
      %section.content
        = yield
    / /.content-wrapper
    %footer.main-footer
      .pull-right.hidden-xs
        %b Version
        0.0.1
      %strong
        Copyright &copy; 2015
        = succeed "." do
          %a{:href => "#"} Abella - Gasparrini
      All rights reserved.
  / ./wrapper
